{
    "openapi": "3.0.1",
    "info": {
        "title": "食品營養成分資料集",
        "description": "食品營養成分資料集主要開放的對象為：民眾、營養師、業者…等，可參考此資料集的資料，了解食材中所含之營養成分含量，亦可作為飲食指南參考。",
        "termsOfService": "https://data.fda.gov.tw/frontsite/cms/cmsAction.do?method=doClauseDetail&clauseId=1",
        "contact": {
            "name": "張先生/小姐",
            "email": "ahchang@fda.gov.tw"
        },
        "license": {
            "name": "政府資料開放授權條款-第1版",
            "url": "https://data.gov.tw/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://data.fda.gov.tw",
            "description": "食品藥物開放資料平臺"
        }
    ],
    "paths": {
        "/opendata/exportDataList.do": {
            "get": {
                "operationId": "activityGet",
                "parameters": [
                    {
                        "name": "method",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "openData",
                            "enum": [
                                "openData"
                            ]
                        }
                    },
                    {
                        "name": "InfoId",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 20,
                            "enum": [
                                20
                            ]
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "跳過幾筆資料",
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "每次取得資料筆數",
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "排序",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "食品分類",
                                "資料類別",
                                "整合編號",
                                "樣品名稱",
                                "俗名",
                                "樣品英文名稱",
                                "內容物描述",
                                "廢棄率",
                                "分析項分類",
                                "分析項",
                                "含量單位",
                                "每100克含量",
                                "樣本數",
                                "標準差",
                                "每單位含量",
                                "每單位重",
                                "每單位重含量"
                            ]
                        }
                    },
                    {
                        "name": "食品分類",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "樣品名稱",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "俗名",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "樣品英文名稱",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "分析項分類",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "分析項",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/RowData"
                                    }
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://data.fda.gov.tw",
                        "description": "食品藥物開放資料平臺"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "RowData": {
                "type": "object",
                "properties": {
                    "食品分類": {
                        "type": "string",
                        "description": "食品分類"
                    },
                    "資料類別": {
                        "type": "string",
                        "description": "資料類別"
                    },
                    "整合編號": {
                        "type": "string",
                        "description": "整合編號"
                    },
                    "樣品名稱": {
                        "type": "string",
                        "description": "樣品名稱"
                    },
                    "俗名": {
                        "type": "string",
                        "description": "俗名"
                    },
                    "樣品英文名稱": {
                        "type": "string",
                        "description": "樣品英文名稱"
                    },
                    "內容物描述": {
                        "type": "string",
                        "description": "內容物描述"
                    },
                    "廢棄率": {
                        "type": "string",
                        "description": "廢棄率"
                    },
                    "分析項分類": {
                        "type": "string",
                        "description": "分析項分類"
                    },
                    "分析項": {
                        "type": "string",
                        "description": "分析項"
                    },
                    "含量單位": {
                        "type": "string",
                        "description": "含量單位"
                    },
                    "每100克含量": {
                        "type": "string",
                        "description": "每100克含量"
                    },
                    "樣本數": {
                        "type": "string",
                        "description": "樣本數"
                    },
                    "標準差": {
                        "type": "string",
                        "description": "標準差"
                    },
                    "每單位含量": {
                        "type": "string",
                        "description": "每單位含量"
                    },
                    "每單位重": {
                        "type": "string",
                        "description": "每單位重"
                    },
                    "每單位重含量": {
                        "type": "string",
                        "description": "每單位重含量"
                    }
                }
            }
        }
    }
}