@page "/samples/document"

<h1>食品資料</h1>

<h2>簡介</h2>
此資料庫由<NavLink Href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178" Target="_blank">食品營養成分資料庫
</NavLink>構建而成，並額外提供比較之功能

<h2>名詞解釋</h2>
<ul>
    <li>
        <NavLink href="//consumer.fda.gov.tw/uc/GetFile.ashx?type=ServerFile&id=5711235181956814700" target="_blank">
            食品營養成分資料庫簡介
        </NavLink>
    </li>
    <li>
        <NavLink href="//consumer.fda.gov.tw/uc/GetFile.ashx?type=ServerFile&id=4618911037854627474" target="_blank">
            食品營養成分資料庫使用說明
        </NavLink>
    </li>
</ul>
或從 <NavLink href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178" target="_blank">食品營養成分資料庫</NavLink> 下載

@code {
}
