@page "/samples/doc"

<PageTitle>名詞解釋</PageTitle>

<p>
<ul>
    <li>
        <NavLink href="//consumer.fda.gov.tw/uc/GetFile.ashx?type=ServerFile&id=5711235181956814700" target="_blank">
            食品營養成分資料庫簡介
        </NavLink>
    </li>
    <li>
        <NavLink href="//consumer.fda.gov.tw/uc/GetFile.ashx?type=ServerFile&id=4618911037854627474" target="_blank">
            食品營養成分資料庫使用說明
        </NavLink>
    </li>
</ul>
或從 <NavLink href="https://consumer.fda.gov.tw/Food/TFND.aspx?nodeID=178" target="_blank">食品營養成分資料庫</NavLink> 下載
</p>

@code {
}
